body{
    /* background-image: url('BTNH_background_front.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}