@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    background-color: #fcfcf7;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

aside{
    background-color: #163172;
    color: white;
}

#formss{
    background-color: white;
    border: 1px solid #163172;
    width: 480px;
}

#formss form input{
    background-color: #D6E4F0;
    width: 100%;
    max-height: 42px;

}

#formss form label{
    color: #163172;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}

#formss form select{
    background-color: #D6E4F0;
    max-height: 42px;
}

#formss form textarea{
    background-color: #D6E4F0;
}

#formss h1{
    color: #163172;
    border-bottom: 3px solid #163172;
    padding-bottom: 15px;
}

#file_input{
    max-height: 42px;
}
